# Object files
*.o
piepan

# Compiled lua files
src/piepan_impl.c
src/piepan_impl.luac
src/piepan_impl.lua

# Compiled protobuf-c files
proto/Mumble.pb-c.c
proto/Mumble.pb-c.h

# Compiled documentation
readme.html

# Scripts
scripts/
